<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/userLogged') %>

<div class="mainTitle">CURSOS</div>

<div class="mainContent mtl">
    <div class="divTables">
        <table>
            <thead>
                <tr>
                    <th class="theadCss thL thLeftBorder thTall">Curso</th>
                    <th class="theadCss thXL thTall">Descripción</th>
                    <th class="theadCss thM thTall">Institución</th>
                    <th class="theadCss thM thRightBorder thTall">ID</th>
                </tr>
            </thead>
            <tbody>
                <% courses.forEach(course => { %>
                    <tr>
                        <td class="td1 td2"><%= course.course_name %></td>
                        <td class="td1 td2 td3"><%= course.course_description %></td>
                        <td class="td1 td2"><%= course.course_company.company_name %></td>
                        <td class="td1 td2"><%= course.id %></td>
                    <tr>
                <% }) %>
            </tbody>                
        </table>            
    </div>

</div>
