<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/userLogged') %>

<% if (locals.successMessage) { %>
    <script>
        alertify.success('Alumnos asignados con éxito');
    </script>
<% } %>

<div class="div12" id="idCompany">
    <% if (user.id_user_categories == 2) { %>
        <%= user.id_companies %>
    <% } %>
    <% if (user.id_user_categories == 1) { %>
        usuario administrador
    <% } %>
</div>

<div class="divForm">
    <h1 class="title1">Asignar alumnos a comisión</h1>
    <form action="/courses/students-assignation" enctype="multipart/form-data" method="POST" name="formAssignStudents" class="form1">
        <% if (user.id_user_categories == 1) { %>
            <div>
                <select name="selectCompany" id="selectCompany" class="input1 select1 <%= locals.errors && errors.selectCompany ? 'isInvalid' : null %>">
                    <option value="default" selected>--Seleccione una institución--</option>
                    <% companies.forEach(company => { %>
                        <% if (company.company_name != 'Schema') { %>
                            <option value="<%= company.company_name %>" <%= locals.oldData && oldData.selectCompany == company.company_name ? 'selected' : null %>><%= company.company_name %></option>
                        <% } %>
                    <% }) %>
                </select>
                <div class="divError1" id="divErrorSelectCompany">
                    <% if (locals.errors && errors.selectCompany) { %>
                        <%= errors.selectCompany.msg %> 
                    <% } %>
                </div>
            </div>
        <% } %>

        <% if (user.id_user_categories == 2) { %>
            <div class="div5" id="noteForCompanies">        
                <p class="p1"><i class="fa-solid fa-triangle-exclamation"></i> Puede asignar un máximo de <%= students.length %> alumnos a cada comisión, en caso de necesitar más cupos, solicite nuevos tokens de alumnos para la institución.</p>
            </div>
        <% } %>
        <% if (user.id_user_categories == 1) { %>
            <div class="div5" id="noteForAdministrator"></div>
        <% } %>

        <div>
            <select name="selectCourse" class="input1 select1 <%= locals.errors && errors.selectCourse ? 'isInvalid' : null %>" id="selectCourse">
                <option value="default" selected>--Seleccione un curso--</option>

                <% if (user.id_user_categories == 2 || (user.id_user_categories == 1 && locals.oldData && oldData.selectCompany != 'default')) { %>
                    <% courses.forEach(course => { %>
                        <option value="<%= course.course_name %>" <%= locals.oldData && oldData.selectCourse == course.course_name ? 'selected' : null %>><%= course.course_name %></option>
                    <% }) %>
                <% } %>
                
            </select>
            <div class="divError1" id="divErrorSelectCourse">
                <% if (locals.errors && errors.selectCourse) { %>
                    <%= errors.selectCourse.msg %> 
                <% } %>
            </div>
        </div>
        <div class="divError1"></div>
        <div>
            <select name="selectCommission" class="input1 select1 <%= locals.errors && errors.selectCommission ? 'isInvalid' : null %>" id = "selectCommission">
                <option value="default" selected>--Seleccione una comisión--</option>
                <% if (locals.oldData && oldData.selectCourse) { %>
                    <% commissionsFiltered.forEach(commission => { %>
                        <option value="<%= commission.id %>" <%= locals.oldData && oldData.selectCommission == commission.id ? 'selected' : null %>><%= commission.commission + ': [inicio: ' + commission.start_date + ' -- fin: ' + commission.end_date + ']' %></option>
                    <% }) %>
                <% } %>
            </select>
            <div class="divError1" id="divErrorSelectCommission">
                <% if (locals.errors && errors.selectCommission) { %>
                    <%= errors.selectCommission.msg %> 
                <% } %>
            </div>
        </div>
        <div class="divError1"></div>
        
        <div class="div6">
            <div class="divFlex7 <%= locals.errors && errors.fileAssignStudents ? 'isInvalid' : null %>">
                <i class="fa-solid fa-file-excel"></i>
                <input type="file" name="fileAssignStudents" class="input4">
            </div>
            <div class="divError1">
                <% if (locals.errors && errors.fileAssignStudents) { %>
                    <%= errors.fileAssignStudents.msg %> 
                <% } %>
            </div>
            <div class="div7">
                <p class="p3"><i class="fa-solid fa-circle-info"></i> Para asignar alumnos suba un archivo en formato .xls, xlsx ó xlsm. <br> El mismo debe contar con una sola columna, sin títulos.<br>Ejemplo:</p>
                <img src="/images/xlsExample.jpg" alt="Ejemplo .xls asignar alumnos" class="xlsExample">
            </div>  

        </div>
        <div class="divButtons1">
            <input type="submit" value="Asignar" class="button1">
            <!---<input type="button" value="Cancelar" onclick="window.location.href='/users/profile'" class="button1">--->
        </div>
</body>
</div>

<script type="module" src="/js/assignStudents.js"></script>