<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/userLogged') %>

<% if (locals.successMessage1) { %>
    <script>
        alertify.success('Comisión creada con éxito');
    </script>
<% } %>

<div class="mainTitle">CREAR COMISIÓN</div>

<div class="mainContent">

    <form action="/courses/create-commission" method="POST" name="formCreateCommission" class="form1">
        <div class="divInputsColumn">
            <% if (user.id_user_categories == 1) { %>            
                <div class="divInput mtl">
                    <label class="label1 fwb">Institución</label>
                    <select name="selectCompany" id="selectCompany" class="input2 iXL <%= locals.errors && errors.selectCompany ? 'isInvalid' : null %>">
                        <option value="default" selected></option>
                        <% companies.forEach(company => { %>
                            <% if (company.company_name != 'Schema') { %>
                                <option value="<%= company.company_name %>" <%= locals.oldData && oldData.selectCompany == company.company_name ? 'selected' : null %>><%= company.company_name %></option>
                            <% } %>                        
                        <% }) %>
                    </select>
                </div>                
                <div class="divError1">
                    <% if (locals.errors && errors.selectCompany) { %>
                        <%= errors.selectCompany.msg %>
                    <% } %>
                </div>            
            <% } %>
            
            <div class="divInput <%= user.id_user_categories != 1 ? 'mtl' : null %>">
                <label class="label1 fwb">Curso</label>
                <select name="courseName" id="selectCourse" class="input2 iXL <%= locals.errors && errors.courseName ? 'isInvalid' : null %>">
                    <option value="default" selected></option>
                    <% courses.forEach(course => { %>
                        <option value="<%= course.course_name %>" <%= locals.oldData && oldData.courseName == course.course_name ? 'selected' : null %>><%= course.course_name %></option>
                    <% }) %>
                </select>
                <div class="divError1">
                    <% if (locals.errors && errors.courseName) { %>
                        <%= errors.courseName.msg %> 
                    <% } %>
                </div>
            </div>
            <h1 class="title2">Profesores de la comisión</h1>
            <div class="divInput">
                <label class="label1 fwb">Profesor 1</label>
                <select name="teacherName" id="selectTeacher" class="input2 iXL <%= locals.errors && errors.teacherName ? 'isInvalid' : null %>">
                    <option value="default" selected></option>
                    <% teachers.forEach(teacher => { %>
                        <option value="<%= teacher.id %>" <%= locals.oldData && oldData.teacherName == teacher.id ? 'selected' : null %>><%= teacher.last_name + ', ' + teacher.first_name + ' (' + teacher.user_email + ')' %></option>
                    <% }) %>
                </select>
                <div class="divError1">
                    <% if (locals.errors && errors.teacherName) { %>
                        <%= errors.teacherName.msg %> 
                    <% } %>
                </div>
            </div>
            <div class="divInput">
                <label class="label1 fwb">Profesor 2</label>
                <select name="teacherName2" id="selectTeacher2" class="input2 iXL">
                    <option value="default" selected></option>
                    <% teachers.forEach(teacher => { %>
                        <option value="<%= teacher.id %>" <%= locals.oldData && oldData.teacherName2 == teacher.id ? 'selected' : null %>><%= teacher.last_name + ', ' + teacher.first_name + ' (' + teacher.user_email + ')' %></option>
                    <% }) %>
                </select>
                <div class="divError1"></div>            
            </div>
            <div class="divInput">
                <label class="label1 fwb">Profesor 3</label>
                <select name="teacherName3" id="selectTeacher3" class="input2 iXL">
                    <option value="default" selected></option>
                    <% teachers.forEach(teacher => { %>
                        <option value="<%= teacher.id %>" <%= locals.oldData && oldData.teacherName3 == teacher.id ? 'selected' : null %>><%= teacher.last_name + ', ' + teacher.first_name + ' (' + teacher.user_email + ')' %></option>
                    <% }) %>
                </select>
                <div class="divError1"></div>
            </div>
            <h1 class="title2">Fechas</h1>
            
            <div class="divInput">
                <label for="startDateCommission" class="label1 fwb">Fecha inicio</label>
                <input type="date" name="startDateCommission" value="<%= locals.oldData && oldData.startDateCommission ? oldData.startDateCommission : null %>" class="input2 iM <%= locals.errors && errors.startDateCommission ? 'isInvalid' : null %>">
                
            </div>
            <div class="divError1">
                <% if (locals.errors && errors.startDateCommission && (errors.startDateCommission.msg != 'error')) { %>
                    <%= errors.startDateCommission.msg %> 
                <% } %>
            </div>
            
            <div class="divInput">
                <label for="endDateCommission" class="label1 fwb">Fecha fin</label>
                <input type="date" name="endDateCommission" value="<%= locals.oldData && oldData.endDateCommission ? oldData.endDateCommission : null %>" class="input2 iM <%= locals.errors && errors.endDateCommission ? 'isInvalid' : null %>">
            </div>
            <div class="divError1">
                <% if (locals.errors && errors.endDateCommission) { %>
                    <%= errors.endDateCommission.msg %> 
                <% } %>
            </div>

        </div>
        
        <div class="divButtons1">
            <input type="submit" value="Crear" class="button1 bm">
            <!---<input type="button" value="Cancelar" onclick="window.location.href='/users/profile'" class="button1">--->
        </div>
    </form>
</div>

<script type="module" src="/js/createCommission.js"></script>

    

