<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/userLogged') %>

<div class="mainTitle">MIS CURSOS</div>

<div class="mainContent mtl">

    <% courses.forEach(course => { %>

        <div class="divFlex4" id="<%= course.id %>">
            <%= course.course_name %>
            <i class="fa-solid fa-plus plus1" id="<%= 'plusMyCourses' + course.id %>"></i>
            <i class="fa-solid fa-minus minus1" id="<%= 'minusMyCourses' + course.id %>"></i>
        </div>

        <div class="div1" id="<%= 'commissionsCourse' + course.id %>">
                <% commissions.forEach(commission => { %>
                    <% if (commission.id_courses == course.id) { %>

                        <div class="div2">
                            <a href=<%= userLogged.id_user_categories != 4 ? '/courses/commissions/' + commission.id : '/courses/commissions/' + commission.id + '/' + userLogged.id %>>
                                Comisión: <%= commission.commission %> [Inicio <%= commission.start_date %> -  Fin <%= commission.end_date %>]
                            </a>

                            <% if (date <= new Date(commission.end_date + "T00:00:00") || ((date.getDate() == (new Date(commission.end_date + "T00:00:00")).getDate()) && (date.getMonth() == (new Date(commission.end_date + "T00:00:00")).getMonth()) && (date.getFullYear() == (new Date(commission.end_date + "T00:00:00")).getFullYear()))) { %>
                                <div class="div3">En curso</div>
                            <% } %>
                        </div>
                    <% } %>
                <% }) %>
        </div>
    <% }) %>

</div>

<script type="module" src="/js/myCourses.js"></script>