<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/userLogged') %>

<% if (locals.successMessage) { %>
    <script>
        alertify.success('Ejercicio creado con éxito');
    </script>
<% } %>

<div class="divForm">
    <h1 class="title1">Crear ejercicio</h1>

<form action="/simulators/create-exercise" method="POST" name="formCreateExercise" class="form1">
    <div>
        <select name="selectSimulator" class="input1 select1 <%= locals.errors && errors.selectSimulator ? 'isInvalid' : null %>">
            <option value="default" selected>--Seleccione un simulador--</option>
            <% simulators.forEach(simulator => { %>
                <option value="<%= simulator.id %>" <%= locals.oldData && oldData.selectSimulator == simulator.id ? 'selected' : null %>><%= simulator.simulator_name %></option>
            <% }) %>
        </select>
        <div class="divError1">
            <% if (locals.errors && errors.selectSimulator) { %>
                <%= errors.selectSimulator.msg %>
            <% } %>
        </div>
    </div>
    <div>
        <input type="text" name="exerciseName" placeholder="Nombre del ejercicio" class="input1  <%= locals.errors && errors.exerciseName ? 'isInvalid' : null %>" value="<%= locals.oldData ? oldData.exerciseName : null %>">
        <div class="divError1">
            <% if (locals.errors && errors.exerciseName) { %>
                <%= errors.exerciseName.msg %>
            <% } %>
        </div>
    </div>
    <div>
        <input type="text" name="exerciseDescription" placeholder="Descripción" class="input1 <%= locals.errors && errors.exerciseDescription ? 'isInvalid' : null %>" value="<%= locals.oldData ? oldData.exerciseDescription : null %>">
        <div class="divError1">
            <% if (locals.errors && errors.exerciseDescription) { %>
                <%= errors.exerciseDescription.msg %>
            <% } %>
        </div>
    </div>
    <div>
        <input type="submit" value="Crear" class="button1">
        <!---<input type="button" value="Cancelar" onclick="window.location.href='/users/profile'" class="button1">--->
    </div>
</form>

</div>



